body {
    font-family: 'Montserrat';
    background: #ffffff;
    text-align: center;
    box-sizing: border-box;
    overflow-x: hidden;
}


header {
    padding: 30px;

}

.header_btn {
    margin-top: 8px;
    margin-left: 0;

}

a:hover {
    text-decoration: none;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__item {
    margin: 0 25px;
}

.menu__item a {
    color: #635c73;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.logo_name,
.logo_name_item {
    text-transform: uppercase;
    color: #333333;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    padding-left: 15px;
    align-items: center;
    margin: 0;
}

.logo_name_item {
    color: #8d81ac;
    padding-left: 0;
}

.logo {
    align-items: center
}

.title_content_heder {
    padding: 18px 0;
}

main .title {
    background: url(../img/title.png);
    background-size: cover;
    max-width: 100%;
    min-height: 700px
}

.title_btb {
    max-width: 100%;
    width: 390px;
    height: 62px;
    background-color: #8d81ac;
    border-radius: 30px;
    border: 1px solid #8d81ac;
    position: relative;
    top: -33px;
    margin-bottom: -18px;
}

.title_btb a {
    color: #ffffff;
    font-size: 21px;
    font-weight: 700;

}

.nav {
    align-items: center;
    justify-content: center;
    margin-left: 80px;
}

.header_btn {
    background-color: #8d81ac;
    border-radius: 65px;
    border: none;
    width: 145px;
}

.header_btn a {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 15px;
    padding: 4px;
}

h1 {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 82px;
    font-weight: 700;
}

h2 {

    color: #8d81ac;
    font-family: Lato;
    font-size: 30px;
    font-weight: 400;
}

.title_content>p {
    color: #848e97;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.title_content {
    margin-top: 108px;
    text-align: center;
}

.footnote {
    color: #848e97;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
}

h2.revolution_header {
    color: #635c73;
    font-family: Montserrat;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
}

.revolution_content {
    opacity: 0.8;
    color: #323232;
    font-family: "Source Sans Pro";
    font-size: 21px;
    font-weight: 400;
    align-items: center;
}

.revolution_counter {
    padding-bottom: 10%;
}

.revolution {
    text-align: center;
}


.benefits {
    background-color: #f4f4f4;
    padding-top: 102px;
    position: relative;
    /* overflow-x: hidden;
    overflow-y: ; */
}

.code_block_title {
    color: #8d81ac;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 0;
    text-align: right;
    padding: 0;
    margin: 0;
}

.change-col {
    margin: 0;
    padding: 0;
    flex: 80% 0 0;
}

.code_img {
    position: absolute;
    left: 750px;
    top: 150px;
    right: 0;
    overflow-x: hidden;
}



.code_img_main {
    width: 1140px;
    height: 580px;
    box-shadow: 0 0 25px rgba(0, 5, 5, 0.3);
    background-color: #2b2d2e;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(71, 72, 68, 0) 100%);
    opacity: 0.95;
}

.benefits_title {
    color: #323232;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
}

.benefits_text_content {
    color: #848e97;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
}

.benefits_block {
    display: flex;
    align-items: center;
    margin-bottom: 34px;
}

.benefit_text {
    margin-left: 30px;
    align-items: right;
}

.comment {
    padding: 87px;
}

.comment_text {
    padding: 48px 0 25px 0;

}

.comment_text p {
    color: #333333;
    font-family: "Source Sans Pro";
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}



.user_nick {
    color: #8d81ac;

}


.time_public {
    color: #848e97;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
}

.company_coment {
    background: url(../img/Layer_1.png);
    min-height: 764px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.company_coment_title h2 {

    color: #ffffff;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    padding: 98px 0 90px 0;
}